.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.element{
  margin: 2rem;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  border: 1px solid black;
}

.counter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}